@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  @apply font-poppins;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media (min-width: 1280px) {
    .container {
      max-width: 1140px;
    }
  }
}

/* overlay */

.overlay {
  @apply absolute;
}

.overlay * {
  @apply transition-all duration-200;
}

.overlay.hoverable > * {
  @apply opacity-0;
}

.overlay.hoverable:hover > * {
  @apply opacity-100;
}

.overlay .video {
  @apply absolute transform bg-blue-200 bg-no-repeat bg-center w-20 h-20 rounded-full -translate-x-1/2 -translate-y-1/2;
  background-image: url("../images/icon-play.svg#icon-play");
  top: 50%;
  left: 50%;
}
