@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  @apply font-poppins scroll-smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media (min-width: 1280px) {
    .container {
      max-width: 1140px;
    }
  }
}

/* utils */

.grid {
  grid-auto-flow: row dense;
  grid-auto-rows: minmax(180px, auto);
}

.stretched-link {
  @apply absolute inset-0 z-10;
}

/* card */

.card .card-shadow {
  @apply transition duration-300 shadow-none h-full;
}

.card:hover .card-shadow {
  @apply shadow-lg;
}

/* overlay */

.overlay {
  @apply absolute hidden md:block;
}

.overlay * {
  @apply transition-all duration-200;
}

.overlay.hoverable > * {
  @apply opacity-0;
}

.overlay.hoverable:hover > * {
  @apply opacity-100;
}

.overlay .video {
  @apply absolute transform bg-blue-200 bg-no-repeat bg-center w-20 h-20 rounded-full -translate-x-1/2 -translate-y-1/2;
  background-image: url("../images/icon-play.svg#icon-play");
  top: 50%;
  left: 50%;
}

/* breadcrumb */

ul.breadcrumb {
  @apply flex flex-row items-center text-lg;
}

ul.breadcrumb li:not(:last-child):after {
  content: "/";
  @apply px-4;
}

ul.breadcrumb li:not(:last-child) a {
  @apply font-light;
}

ul.breadcrumb li:last-child a {
  @apply font-semibold;
}
